@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    user-select: none;
    -webkit-user-select: none;
}